
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #63B97B;
    padding: 25px 0;
}

h1 {
    text-align: center;
    color: #497929;
}

h4 {
    color: rgb(71, 64, 64);
    text-align: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo {
    height: 50px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: rgb(63, 57, 57);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: lightgray;
    color: rgb(104, 104, 104);
    margin-bottom: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.footer-content .left img,
.footer-content .social-media img {
    height: 35px;
}

.footer-content p {
    font-size: 13px;
    margin: 5px 0;
}

.footer-content .center {
    text-align: center;
}

.footer-content .right h4 {
    text-align: left;
    padding-top: 10px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

